drive/
.ipynb_checkpoints*
*.pyc
issue/*.csv
.DS_Stor*
*.lyx#
*.lyx~
temp/*
issue/*.parquet
*.sbatch
*.std*
google_app.json
.env
security/
._*
secrets/
*.aux
source/talk/slides.fdb_latexmk
*.fls
*.nav
*.out
*.snm
source/talk/slides.synctex.gz
*.toc
*.claude
source/lib/proxies.txt
.vscode/settings.json
Rplots.pdf
.depcleaner*
